<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZnkifdIHelI4T8OZyEhchrLF35pBYY4g</string>
	<key>GCM_SENDER_ID</key>
	<string>99592741858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floraApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flora-afd17</string>
	<key>STORAGE_BUCKET</key>
	<string>flora-afd17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99592741858:ios:ec37c170c6697e5be50fbb</string>
</dict>
</plist>